.home {
    font-family: Arial, sans-serif;
  }
  
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .destinations {
    padding: 50px;
    text-align: center;
  }
  
  .destination-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .destination-card {
    background-color: #ddd;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
  }
  .destination-card h3:hover{
    text-align:justify;
            font-size: 20px;
            color:black;
  }
  .destination-card p:hover{
    text-align:left;
    color: gray;
  }
  .destination-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .promo {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .promo-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f4511e;
    color: white;
    border: none;
    cursor: pointer;
  }